<img src="assets/img.jpg" class="" width="1550" height="450" alt="">

<br>
<div class="container mt-3">
 
    <div class="mt-4 p-5  border ">
      <h1 class="text-primary">Nasıl Kiralama Yaparım?</h1> 
      <ul>
         <h4>Rezervasyonu yaptır ve araç adresinize gelsin.</h4>
        
         <li> <h5>
          Rezervasyonunu yaptır.
        İstediğin aracı garantilemek için bizimle irtibata geç. (Ara veya Whatsapp hattımızdan yaz. İstediğin gün ve saate rezervasyonu yap.)
      </h5></li>
  
      <li><h5>
      
        Ödemeni gerçekleştir.
        Araç modeli, gün ve fatura tutarını netleştir indirimleri yakala. (Kiralamada alınan min. 1000 lira depozitonu aracını teslim ederken anında iade ettiğimizi unutma!)
        
      </h5></li>
        <li><h5>
        
        Vale randevunu al.
        Rezervasyonunu kesinleştirdikten sonra vale randevunu al. Artık aracın istediğin
         gün ve saate kapında olacaktır</h5></li>
         </ul>
    </div>
  </div>
  
  <br>
  
  <br>
  <div class="text-white-50 bg-dark text-center">
    <p>mail : car@mail.com  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; tel : 7458349086</p>
  <p >Akdeniz Üniversite 2022  Hibe El Muhammed</p>
  </div>